<div class="container" style="text-align:center;">
  <h1><%=@restaurant.name%></h1>
  <div class="container">
      <p><%=@restaurant.location%></p>
      <p><%=@restaurant.phone%></p>
      <p>Views: <%=@restaurant.views%></p>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="container">
    <p>
      -----
    </p>
    <h1>Potiential Allergies</h1>
    <h3>GO HERE</h3>
    <p>
      -----
    </p>
  </div>

  <div class="container">
    <h3>Current Menu</h3>
    <div class="container">
      <% @menu_items.each do |dish|%>
        <h3><%=dish.name%></h3>
        <p><%= dish.ingredients %></p>
      <%end%>
    </div>
  </div>

  <div class="container">
    <form class="" action="/menu/<%=@restaurant.id%>" method="">
      <div class="container">
        <button type="submit" class="btn btn-default" name="button">Add To Menu</button>
      </div>
    </form>
  </div>
</div>
